<nav [ngClass]="{ 'mobile': _sidebarService.mobile(), 'show-sidebar': _sidebarService.showSidebar() }">
  <div class="logo">
    <img src="./assets/images/logo-light.png" alt="logo">

    @if(_sidebarService.mobile()) {
    <div matRipple (click)="toggleShowSidebar()">
      <i class="fa-solid fa-bars"></i>
    </div>
    }
  </div>

  <mat-divider></mat-divider>

  <ul class="components">
    @for (item of menuItem; track item) {
      @if(!item.isDropdown) {
      <li matRipple routerLinkActive="active" [routerLink]="item.route">
        <a [routerLink]="item.route">
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
      }
      @else {
        <li matRipple routerLinkActive="active" class="typeDropown" (click)="(expandedElement = expandedElement === item ? null : item); $event.stopPropagation()">
          <a>
            <i [class]="item.icon"></i>
            <span>{{ item.label }}</span>
            <i class="fa-solid fa-angle-down ms-auto me-2" style="cursor: pointer;"></i>
          </a>

          <div class="dropdownTemplate" [@detailExpand]="item == expandedElement ? 'expanded' : 'collapsed'">
            <div class="dropdownContent">
              @for (subItem of item.dropdownItems; track subItem) {
                <a matRipple [routerLink]="subItem.route" class="dropdownItem">
                  <i [class]="subItem.icon"></i>
                  <span>{{ subItem.label }}</span>
                </a>
              }
            </div>
          </div>
        </li>
      }
    }
  </ul>
</nav>
