<div>
  <app-component-header>

    <div id="buttons">
      <button matRipple class="button primary" (click)="newClientDialog()">
        <i class="fa-solid fa-plus"></i> Novo Cliente
      </button>
    </div>

    <div id="filters">
      <form [formGroup]="formFilters">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-2">
            <span class="filterField mb-1">Empresa</span>
            <mat-form-field>
              <input matInput formControlName="company" placeholder="Empresa">
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-md-0 mb-2">
            <span class="filterField mb-1">Domínio</span>
            <mat-form-field>
              <input matInput formControlName="domain" placeholder="Domínio">
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-3">
            <span class="fw-bolder">Segmento *</span>
            <mat-form-field>
              <mat-select formControlName="segment_id" placeholder="Segmento">
                <mat-option>
                  <ngx-mat-select-search [formControl]="segmentFilterCtrl" placeholderLabel="Procure pelo segmento"
                    i18n-placeholderLabel noEntriesFoundLabel="Segmento não encontrado" i18n-noEntriesFoundLabel>
                  </ngx-mat-select-search>
                </mat-option>
                @if(formFilters.get('segment_id').value) {
                  <mat-option class="trash" (click)="clearSegment()">Limpar filtro</mat-option>
                }
                <mat-option *ngFor="let segment of filteredSegments | async" [value]="segment.id">
                  {{ segment.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-md-0 mb-2">
            <span class="filterField mb-1">Técnico</span>
            <mat-form-field>
              <mat-select formControlName="user_id" placeholder="Técnico">
                <mat-option>
                  <ngx-mat-select-search [formControl]="technicalFilterCtrl" placeholderLabel="Procure pelo usuário"
                    i18n-placeholderLabel noEntriesFoundLabel="Usuário não encontrado" i18n-noEntriesFoundLabel>
                  </ngx-mat-select-search>
                </mat-option>
                @if(formFilters.get('user_id').value) {
                  <mat-option class="trash" (click)="clearUserId()">Limpar filtro</mat-option>
                }
                <mat-option *ngFor="let user of filteredTechnicals | async" [value]="user.id">
                  {{ user.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-md-0 mb-2">
            <span class="filterField mb-1">Status</span>
            <mat-form-field>
              <mat-select formControlName="status" placeholder="Status">
                @if(formFilters.get('status').value) {
                  <mat-option class="trash" (click)="clearStatus()">Limpar filtro</mat-option>
                }
                @for (status of statusSelect; track status) {
                <mat-option [value]="status">{{ status | status }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

        </div>
      </form>

      <div class="d-flex gap-2 mt-2">
        <button matRipple class="button red" (click)="clearFormFilters()">
          <i class="fa-solid fa-trash"></i>
        </button>
        <button matRipple class="button primary" (click)="updateFilters()">
          <i class="fa-solid fa-magnifying-glass"></i> Pesquisar
        </button>
      </div>
    </div>

  </app-component-header>
</div>

<div id="componentTable" class="col-12 mt-4">
  <app-table-clients
    (onEditStatus)="editStatus($event)"
    (onKeyWord)="openKeyword($event)"
    (onEditClient)="openEditClientDialog($event)"
    (onDeleteClient)="openDeleteClientDialog($event)"
    (onViewClient)="openEditClientDialog($event, true)"
    [loading]="loading"
    [filters]="filters">
  </app-table-clients>
</div>
