@import "_variables";

#caption {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 2rem;
    color: $white;
    font-size: 0.9rem;

    &.lost {
      background-color: $septendecenary;
    }

    &.canceled {
      background-color: $septendecenary;
    }

    &.scheduling {
      background-color: $septenary;
    }

    &.rescheduled {
      background-color: $quaternary;
    }
    &.closed {
      background-color: $quattuordenary;
    }
  }
}

#calendarTemplate {
  background: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.11), 0 7px 10px -5px rgba(0, 0, 0, 0.06);
  padding: 1vw;
  min-height: 50vh;
}

.eventTemplate {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: $white-100;
  // cursor: move;

  // &:active {
  //   cursor: grabbing;
  // }

  &.lost {
    background-color: $septendecenary;
  }

  &.canceled {
    background-color: $septendecenary;
  }

  &.scheduling {
    background-color: $septenary;
  }

  &.rescheduled {
    background-color: $quaternary;
  }
  &.closed {
    background-color: $quattuordenary;
  }

}

// Conteúdo do calendário
::ng-deep {

  .fc-col-header-cell {
    &.fc-day {
      height: 3rem;
      background-color: $gray-100;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        a {
          color: $quindecenary;
        }
      }
    }

  }

  .fc-daygrid-day-top {
    a {
      color: $quindecenary;
    }
  }

}
