@import "_variables";

#caption {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 2rem;
    color: $white;
    font-size: 0.9rem;
    white-space: nowrap;

  }
}

.presentationvisit {
  background-color: $septenary;
}

.schedulingvisit {
  background-color: $quaternary;
}
.reschedulingvisit {
  background-color: $quattuordenary;
}

#calendarTemplate {
  background: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.11), 0 7px 10px -5px rgba(0, 0, 0, 0.06);
  padding: 1vw;
  min-height: 50vh;
}

.eventTemplate {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: $white-100;
  // cursor: move;

  // &:active {
  //   cursor: grabbing;
  // }

}

.wrapLoading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;

  .loaderSchedule {
    width: 70px;
    height: 70px;
    border: 12px solid $primary;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

// Conteúdo do calendário
::ng-deep {

  .fc-col-header-cell {
    &.fc-day {
      height: 3rem;
      background-color: $gray-100;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        a {
          color: $quindecenary;
        }
      }
    }

  }

  .fc-daygrid-day-top {
    a {
      color: $quindecenary;
    }
  }

}
