<div>
  <app-component-header>
    <div id="filters">
      <form [formGroup]="formFilters">
        <div class="row">

          <div class="col-md-4 mb-md-0 mb-2">
            <span class="filterField mb-1">Responsável</span>
            <mat-form-field>
              <mat-select formControlName="responsible" placeholder="Responsável" >
                <mat-option (click)="clearResponsible()">Limpar filtro</mat-option>
                @for (responsible of statusSelection; track responsible) {
                  <mat-option [value]="responsible">{{ responsible }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>

      <div class="d-flex gap-2 mt-2">
        <button matRipple class="button red" (click)="clearFormFilters()">
          <i class="fa-solid fa-trash"></i>
        </button>
        <button matRipple class="button primary" (click)="updateFilters()">
          <i class="fa-solid fa-magnifying-glass"></i> Pesquisar
        </button>
      </div>

    </div>

  </app-component-header>

  <div id="caption" class="mt-3 flex-md-row flex-column">

    <span>Legenda: </span>

    <div class="status scheduling">
      Agendamento
    </div>

    <div class="status lost">
      Perdido/Cancelado
    </div>

    <div class="status rescheduled">
      Reagendada
    </div>

    <div class="status closed">
      Fechado
    </div>

  </div>

</div>

<div id="calendarTemplate" class="col-12 mt-4">
  <full-calendar #calendar [options]="calendarOptions" [events]="eventsPromise | async" [deepChangeDetection]="true" style="height: 100%;">

    <!-- Personalizar a forma de exibição do evento no calendário -->
    <ng-template #eventContent let-arg>
      <div class="eventTemplate" (click)="handlePropriedadeTest(arg.event)" [ngClass]="arg.event.extendedProps.type.toLowerCase()">
        <b>{{arg.timeText}}</b>
        <i>{{arg.event.title}}</i>
      </div>
    </ng-template>

  </full-calendar>
</div>
