@import "_variables";

.status {
  display: flex;
  justify-content: center;
  width: 7rem;
  border-radius: 25px;
  padding: 0 1rem;
  color: $white;

  &.active {
    background-color: $green;
  }

  &.inactive {
    background-color: $red;
  }
}
