@import "_variables";

#headerButtons {

  display: flex;
  align-items: center;
  gap: 1rem;

  .headerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10rem;
    white-space: nowrap;
    color: $white-100;
    background-color: $yellow_opacity;
    border-radius: 0.3rem;
    padding: 0.5rem;
    cursor: pointer;
  }
}

#addItem {
  width: fit-content;
  border-radius: 4px;

  button {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem;
    color: $white-100;
    background-color: $quattuordenary;
    border: none;
    outline: none;

    i {
      font-size: 1em;
    }
  }
}

mat-spinner {
  height: 2.8rem !important;
}

