<mat-dialog-content>
  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5">{{ title }}</span>

    <div class="d-flex align-items-center gap-2">
      <div matRipple class="close" (click)="onCancel()">
        <i class="fa-solid fa-close"></i>
      </div>
    </div>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <div>
    <div class="row">
      <div class="col-12 mb-2">
        <div class="field">
          <span>Contato: {{ this._data?.contact?.responsible }}</span>
        </div>
      </div>

      <div class="col-md-10 mb-2">
        <div class="row">

          <div class="col-md-4">
            <div class="field">
              <span class="mb-2"><i class="fa-solid fa-envelope me-2"></i>Emails: </span>
              <div class="d-flex flex-column gap-1">
                @for(email of this._data?.contact?.emails; track email) {
                  <div class="d-flex align-items-center gap-2">
                    <i class="circle"></i><span>{{ email.email }}</span>
                  </div>
                }
              </div>
            </div>

          </div>

          <div class="col-md-4">
            <div class="field">
              <span class="mb-2"><i class="fa-solid fa-phone me-2"></i>Telefones:</span>
                <div class="d-flex flex-column gap-1">
                  @for(phone of this._data?.contact?.phones; track phone) {
                    <div class="d-flex align-items-center gap-2">
                      <i class="circle"></i><span>{{ phone.phone | phoneMask }}</span>
                    </div>
                  }
                </div>
            </div>
          </div>

        </div>

      </div>

      <div class="col-12"></div>

      <div class="col-md-4 mb-2">
        <div class="field">
          <span>Primeweb: {{ this._data?.user?.name }}</span>
        </div>

      </div>


      <div class="col-md-4 mb-2">
        <div class="field">
          <span>Link: {{ this._data?.link }}</span>
        </div>

      </div>


    </div>

    <form [formGroup]="form" class="row">

      <div class="col-md-6 mb-3">
        <span class="fw-bolder">Data *</span>
        <mat-form-field>
          <input matInput formControlName="date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Data e Hora" readonly>
          <owl-date-time #dt1></owl-date-time>
          <i matSuffix [owlDateTimeTrigger]="dt1" class="fa-solid fa-calendar me-3"></i>
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-3">
        <span class="fw-bolder">Status *</span>
        <mat-form-field>
          <mat-select formControlName="status" placeholder="Status" >
            @for (status of statusSelection; track status) {
              <mat-option [value]="status">{{ status | occurrence }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 mb-3">
        <span class="fw-bolder">Observações</span>
        <mat-form-field>
          <textarea matInput
            formControlName="observations"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            [placeholder]="'Observações'">
          </textarea>
        </mat-form-field>
      </div>

    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="w-100 me-2">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      @if(loading) {
        <div matRipple class="me-auto me-sm-0 mb-sm-0 mb-2 loading">
          <mat-spinner></mat-spinner>
        </div>
      }

      <div id="buttonsDialog" class="flex-sm-row flex-column">

        @if(form.disabled) {
          <div class="col-auto">
            <button matRipple id="submit" class="button primary">Reenviar E-mail</button>
          </div>

          <div class="col-auto">
            <button matRipple id="submit" class="button secondary" (click)="!loading ? toggleEdit() : null">Editar</button>
          </div>

          <div class="col-auto">
            <button matRipple id="cancel" class="button cancel" (click)="onCancel()">Fechar</button>
          </div>
        }
        @else {
          <div class="col-auto">
            <button matRipple id="submit" class="button cancel" (click)="!loading ? toggleEdit() : null">Cancelar</button>
          </div>

          <div class="col-auto">
            <button matRipple id="submit" class="button secondary" (click)="!loading ? onConfirm() : null">Salvar</button>
          </div>
        }

      </div>
    </div>
  </div>
</mat-dialog-actions>
