<div>
  <app-component-header>

    <div id="buttons">
      <button matRipple class="button primary" (click)="openNewPhoneCallDialog()">
        <i class="fa-solid fa-plus"></i> Telefonema
      </button>
    </div>

    <div id="filters">
      <form [formGroup]="formFilters">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-2">
            <span class="filterField mb-1">Empresa</span>
            <mat-form-field>
              <input matInput formControlName="company" placeholder="Empresa">
            </mat-form-field>
          </div>
          <div class="col-md-4 mb-md-0 mb-2">
            <span class="filterField mb-1">Domínio</span>
            <mat-form-field>
              <input matInput formControlName="domain" mask="A*.A*" placeholder="Domínio">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <span class="filterField mb-1">Telefone</span>
            <mat-form-field>
              <input matInput formControlName="phone" mask="(00) 00000-0000||(00) 0000-0000" placeholder="(00) 00000-0000 ou (00) 0000-0000">
            </mat-form-field>
          </div>
        </div>
      </form>

      <div class="d-flex gap-2 mt-2">
        <button matRipple class="button red" (click)="clearFormFilters()">
          <i class="fa-solid fa-trash"></i>
        </button>
        <button matRipple class="button primary" (click)="updateFilters()">
          <i class="fa-solid fa-magnifying-glass"></i> Pesquisar
        </button>
      </div>
    </div>

  </app-component-header>
</div>

<div id="componentTable" class="col-12 mt-4">
  <app-table-phone-calls
    (onViewPhoneCall)="openDetailsPhoneCallDialog($event)"
    (onEditPhoneCall)="openEditPhoneCallDialog($event)"
    (onNewOccurrence)="openNewOccurrenceDialog($event)"
    (onDeletePhoneCall)="openDeletePhoneCallDialog($event)"
    [loading]="loading"
    [filters]="filters"
  >
  </app-table-phone-calls>
</div>
