<div>
  <app-component-header>

    <div id="buttons">
      <button matRipple class="button primary" (click)="openNewPhoneCallDialog()">
        <i class="fa-solid fa-plus"></i> Telefonema
      </button>
    </div>

    <div id="filters">
      <form [formGroup]="formFilters">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-2">
            <span class="filterField mb-1">Empresa</span>
            <mat-form-field>
              <input matInput formControlName="company">
            </mat-form-field>
          </div>
          <div class="col-md-4 mb-md-0 mb-2">
            <span class="filterField mb-1">Domínio</span>
            <mat-form-field>
              <input matInput formControlName="domain">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <span class="filterField mb-1">Telefone</span>
            <mat-form-field>
              <input matInput formControlName="phone">
            </mat-form-field>
          </div>
        </div>
      </form>

      <button matRipple class="button primary mt-2" (click)="updateFilters()">
        <i class="fa-solid fa-magnifying-glass"></i> Pesquisar
      </button>
    </div>

  </app-component-header>
</div>

<div id="componentTable" class="col-12 mt-4">
  <app-table-phone-calls
    (onViewPhoneCall)="testPhoneCallDialog()"
    (onEditPhoneCall)="openEditPhoneCallDialog($event)"
    (onNewOccurrence)="openNewOccurrenceDialog($event)"
    (onDeletePhoneCall)="openDeletePhoneCallDialog($event)"
    [loading]="loading"
    [filters]="filters"
  >
  </app-table-phone-calls>
</div>
