<mat-dialog-content>
  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5">{{ title }}</span>

    <div class="d-flex align-items-center gap-2">
      <div matRipple class="close" (click)="onCancel()">
        <i class="fa-solid fa-close"></i>
      </div>
    </div>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <mat-tab-group [selectedIndex]="tabToContract">
    <mat-tab label="Cliente">
      <form [formGroup]="formClient" class="mt-3" style="overflow: hidden;">

        <div class="row">

          <div class="col-md-4 mb-3">
            <span class="fw-bolder">Empresa</span>
            <mat-form-field appearance="outline">
              <input type="text" formControlName="company" matInput placeholder="Empresa" />
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-3">
            <span class="fw-bolder">Domínio</span>
            <mat-form-field appearance="outline">
              <input type="text" formControlName="domain" matInput placeholder="https://domain.com.br" />
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-3">
            <span class="fw-bolder">Segmento</span>
            <mat-form-field>
              <mat-select formControlName="segment_id" placeholder="Segmento">
                <mat-option>
                  <ngx-mat-select-search [formControl]="segmentFilterCtrl" placeholderLabel="Procure pelo segmento"
                    i18n-placeholderLabel noEntriesFoundLabel="Segmento não encontrado" i18n-noEntriesFoundLabel>
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let segment of filteredSegments | async" [value]="segment.id">
                  {{ segment.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-3">
            <span class="fw-bolder">CNPJ / CPF</span>
            <mat-form-field appearance="outline">
              <input type="text" formControlName="cnpj" matInput mask="000.000.000-00||00.000.000/0000-00"
                placeholder="CNPJ ou CPF" />
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-3">
            <span class="fw-bolder" style="white-space: nowrap;">Nome do Responsável</span>
            <mat-form-field appearance="outline">
              <input type="text" formControlName="client_responsable_name" matInput placeholder="Cliente" />
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-3">
            <span class="fw-bolder" style="white-space: nowrap;">Nome do Segundo Responsável</span>
            <mat-form-field appearance="outline">
              <input type="text" formControlName="client_responsable_name_2" matInput placeholder="Cliente" />
            </mat-form-field>
          </div>

          <div class="col-12"></div>

          <!-- Telefones -->
          <div class="col mb-3">
            <span class="fw-bolder">Telefones</span>
            <div class="d-flex flex-column gap-3" formArrayName="phones">              
              <div class="d-flex flex-sm-row flex-column gap-1"
              *ngFor="let telephone of phones.controls; let i = index;"
              [formGroupName]="i"
              >
                <div class="d-flex flex-sm-row flex-column  gap-2 w-100">
                  <mat-form-field appearance="outline">
                    <input matInput
                    type="text"
                    formControlName="phone"
                    placeholder="Número"
                    [mask]="phoneMasks[i]"
                    (input)="updatePhoneMask($event, i)"
                    >
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="name" placeholder="Nome">
                  </mat-form-field>
                </div>
                <div class="d-flex align-items-center">
                  @if(!view) {
                  <button class="mt-1" color="warn" mat-icon-button (click)="onDeleteTelephone(i)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                }
                </div>
              </div>              
              <div class="col-auto">
                <div matRipple id="addItem">
                  <button color="primary" *ngIf="!view" (click)="!isToEdit ? pushTelephone() : null">
                    <i class="fa-solid fa-plus"></i> Telefone
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Emails -->
          <div class="col mb-3">

            <span class="fw-bolder">E-mail</span>
            <div class="d-flex flex-column gap-3" formArrayName="emails">
              @for(email of emails.controls; track email) {
              <div class="d-flex flex-sm-row flex-column gap-1" [formGroupName]="$index">
                <div class="d-flex flex-sm-row flex-column gap-2 w-100">
                  <mat-form-field appearance="outline">
                    <input matInput type="email" formControlName="email" placeholder="E-mail">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="name" placeholder="Nome">
                  </mat-form-field>
                </div>
                <div class="d-flex align-items-center">
                  @if(!view) {
                  <button class="mt-1" color="warn" mat-icon-button (click)="onDeleteEmail($index)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                  }
                </div>
              </div>
              }
              <div class="col-auto">
                <div matRipple id="addItem">
                  <button color="primary" *ngIf="!view" (click)="!isToEdit ? pushEmail() : null">
                    <i class="fa-solid fa-plus"></i> E-mail
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mb-3 mt-2">
            <span class="fw-bolder" style="font-size: 1.2rem;">Endereço</span>
          </div>

          <div class="col-md-4 mb-3">
            <mat-form-field appearance="outline">
              <mat-label>CEP</mat-label>
              <input matInput type="text" mask="00000-000" formControlName="cep">
            </mat-form-field>
          </div>

          <div class="col-md-5 mb-3">
            <mat-form-field appearance="outline">
              <mat-label>Logradouro</mat-label>
              <input matInput type="text" formControlName="street">
            </mat-form-field>
          </div>

          <div class="col-md-3 mb-3">
            <mat-form-field appearance="outline">
              <mat-label>Nª</mat-label>
              <input matInput type="text" formControlName="number">
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-3">
            <mat-form-field appearance="outline">
              <mat-label>Bairro</mat-label>
              <input matInput type="text" formControlName="neighborhood">
            </mat-form-field>
          </div>

          <div class="col-md-4 col-12 mb-3">
            <mat-form-field>
              <mat-select formControlName="state" placeholder="Estado">
                @for (state of states; track state) {
                <mat-option [value]="state">{{ state }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4 col-12 mb-3">
            <mat-form-field>
              <mat-select formControlName="city" placeholder="Cidade">
                <mat-option>
                  <ngx-mat-select-search [formControl]="cityFilterCtrl" placeholderLabel="Procure a cidade"
                    i18n-placeholderLabel noEntriesFoundLabel="Cidade não encontrada" i18n-noEntriesFoundLabel>
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let city of filteredCitys | async" [value]="city">
                  {{ city }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 mb-3 mt-2">
            <span class="fw-bolder" style="font-size: 1.2rem;">Dados Financeiros</span>
          </div>

          <div class="col-md-4 mb-3">
            <span class="fw-bolder" style="white-space: nowrap;">Valor da Parcela</span>
            <mat-form-field appearance="outline">
              <input type="text" formControlName="monthly_fee" matInput currencyMask placeholder="R$ 0,00" />
            </mat-form-field>
          </div>

          <div class="col mb-3">
            <span class="fw-bolder" style="white-space: nowrap;">Data do Pagamento da 1º Parcela</span>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="first_parcel" placeholder="DD/MM/YYYY"
                formControlName="payment_first_date" readonly />
              <div matSuffix class="d-flex">
                <mat-datepicker-toggle [for]="first_parcel"></mat-datepicker-toggle>
              </div>
              <mat-datepicker #first_parcel></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col mb-3">
            <span class="fw-bolder" style="white-space: nowrap;">Data da finalização do contrato</span>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="day_vencimento" placeholder="DD/MM/YYYY" formControlName="final_date"
                readonly />
              <div matSuffix class="d-flex">
                <mat-datepicker-toggle [for]="day_vencimento"></mat-datepicker-toggle>
              </div>
              <mat-datepicker #day_vencimento></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-12"></div>

          <div class="col-md-4 mb-3">
            <span class="fw-bolder" style="white-space: nowrap;">Dia de Vencimento do Boleto</span>
            <mat-form-field appearance="outline">
              <input type="text" formControlName="duedate_day" matInput mask="0*" placeholder="0" />
            </mat-form-field>
          </div>

          <div class="col-12 mb-3 mt-2">
            <span class="fw-bolder" style="font-size: 1.2rem;">Responsáveis pelo Projeto</span>
          </div>

          <div class="col-md-4 mb-3">
            <span class="fw-bolder">Consultor</span>
            <mat-form-field>
              <mat-select formControlName="consultant_id" placeholder="Consultor">
                <mat-option>
                  <ngx-mat-select-search [formControl]="consultantFilterCtrl" placeholderLabel="Procure pelo usuário"
                    i18n-placeholderLabel noEntriesFoundLabel="Usuário não encontrado" i18n-noEntriesFoundLabel>
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let user of filteredConsultants | async" [value]="user.id">
                  {{ user.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-3">
            <span class="fw-bolder">Vendedor</span>
            <mat-form-field>
              <mat-select formControlName="seller_id" placeholder="Vendedor">
                <mat-option>
                  <ngx-mat-select-search [formControl]="sellerFilterCtrl" placeholderLabel="Procure pelo usuário"
                    i18n-placeholderLabel noEntriesFoundLabel="Usuário não encontrado" i18n-noEntriesFoundLabel>
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let user of filteredSellers | async" [value]="user.id">
                  {{ user.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-3">
            <span class="fw-bolder">Técnico</span>
            <mat-form-field>
              <mat-select formControlName="technical_id" placeholder="Técnico">
                <mat-option>
                  <ngx-mat-select-search [formControl]="technicalFilterCtrl" placeholderLabel="Procure pelo usuário"
                    i18n-placeholderLabel noEntriesFoundLabel="Usuário não encontrado" i18n-noEntriesFoundLabel>
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let user of filteredTechnicals | async" [value]="user.id">
                  {{ user.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="mt-2">
            <span class="fw-bolder">Observações</span>
            <mat-form-field>
              <textarea matInput formControlName="observations" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [placeholder]="'Observações'">
              </textarea>
            </mat-form-field>
          </div>
        </div>

      </form>
    </mat-tab>

    <mat-tab label="Contrato" [disabled]="!isToGoToContract && isNewClient">
      <form [formGroup]="formContract" class="my-3" style="overflow: hidden;">

        <div class="row">

          <div class="col-md-4 mb-3">
            <span class="fw-bolder">Número do Contrato</span>
            <mat-form-field appearance="outline">
              <input type="text" formControlName="number" matInput placeholder="Número do Contrato" />
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-3">
            <div class="d-flex flex-column gap-2">
              <span class="fw-bolder">Arquivo</span>
              <input type="file" (change)="onFileChange($event)" />
            </div>
          </div>

          <div class="col-12 mb-3">
            <span class="fw-bolder" style="font-size: 1.2rem;">Dados do Projeto</span>
          </div>

          <div class="col mb-3">
            <span class="fw-bolder" style="white-space: nowrap;">Data da Contratação</span>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="contract" placeholder="DD/MM/YYYY" formControlName="date_hire"
                readonly />
              <div matSuffix class="d-flex">
                <mat-datepicker-toggle [for]="contract"></mat-datepicker-toggle>
              </div>
              <mat-datepicker #contract></mat-datepicker>
            </mat-form-field>
          </div>


          <div class="col mb-3">
            <span class="fw-bolder" style="white-space: nowrap;">Quantidade de Palavras no Contrato</span>
            <mat-form-field appearance="outline">
              <input type="text" formControlName="number_words_contract" matInput mask="0*" placeholder="0" />
            </mat-form-field>
          </div>

          <div class="col mb-3">
            <span class="fw-bolder" style="white-space: nowrap;">Tipo de Serviço</span>
            <mat-form-field>
              <mat-select formControlName="service_type" placeholder="Tipo de Serviço">
                @for (service of serviceTypeEnum; track service) {
                <mat-option [value]="service">{{ service | contract }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <!-- <div class="col mb-3">
            <span class="fw-bolder" style="white-space: nowrap;">Modelo Layout</span>
            <mat-form-field>
              <mat-select formControlName="model" placeholder="Modelo Layout">
                @for (model of modelEnum; track model) {
                <mat-option [value]="model">{{ model | contract }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div> -->

          <div>
            <span class="fw-bolder">Observações</span>
            <mat-form-field>
              <textarea matInput formControlName="observations" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [placeholder]="'Observações'">
              </textarea>
            </mat-form-field>
          </div>

          <div *ngIf="!view && formClient?.get('id')?.value" class="d-flex justify-content-end mt-2">
            <button matRipple class="button primary" (click)="!loading ? postContract() : null">{{
              "Adicionar Contrato"
              }}</button>
          </div>

        </div>
      </form>

      <div class="p-md-2 p-1 mt-1" style="border: 1px solid #333547; border-radius: 4px;">
        <app-table-clients-contracts [loading]="loading" [client_id]="_data?.client?.id ?? client_id"></app-table-clients-contracts>
      </div>

    </mat-tab>
  </mat-tab-group>


</mat-dialog-content>
<mat-dialog-actions *ngIf="!view">
  <div class="w-100 me-2">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      @if(loading) {
      <div matRipple class="me-auto me-sm-0 mb-sm-0 mb-2 loading">
        <mat-spinner></mat-spinner>
      </div>
      }

      <div id="buttonsDialog" class="flex-sm-row flex-column">
        <div class="col-auto">
          <button matRipple id="cancel" class="button cancel" (click)="onCancel()">Cancelar</button>
        </div>
        <div class="col-auto">
          <button matRipple id="submit" class="button primary" (click)="!loading ? onConfirm() : null">
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>
