<div class="px-md-5 px-sm-3 px-1">
  <div id="componentTable" class="col-12 mt-4 p-md-4 p-3">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-between mb-2" style="height: 1.7rem;">
        <h5 class="perfil mb-2">Perfil de {{ user?.name }}</h5>

        @if(loading || loadingUser) {
          <mat-spinner></mat-spinner>
        }
      </div>

      <span class="property mb-2">E-mail : {{ user?.email }}</span>
      <span class="property mb-2">Cargo : Supervisor de Vendas</span>

      <form [formGroup]="form" class="my-3">
        <div class="d-flex align-items-center mb-3">
          <span class="title">Nome: </span>
          <mat-form-field>
            <input matInput formControlName="name" placeholder="Nome" />
          </mat-form-field>
        </div>

        <div class="d-flex align-items-center mb-3">
          <span class="title">Telefone: </span>
          <mat-form-field>
            <input matInput formControlName="telephone" placeholder="Telefone" />
          </mat-form-field>
        </div>

        <div class="d-flex align-items-center justify-content-end mb-3">
          <button matRipple id="submit" class="button primary" (click)="loading || loadingUser ? null : onSubmit()">Salvar</button>
        </div>
      </form>

      <span class="property my-2">Criado em: {{ user?.created_at| date: "dd/MM/YYYY HH:mm:ss" }}</span>
      <span class="property my-2">Ultima alteração: {{ user?.updated_at| date: "dd/MM/YYYY HH:mm:ss"  }}</span>

    </div>
  </div>

</div>
