@import "variables";

.perfil {
  display: flex;
  color: $quindecenary;
  font-weight: 500;
}

.property {
  color: $quindecenary!important;
}

.title {
  width: 10rem;
  font-weight: 600;
  color: $quindecenary;
}

mat-spinner {
  height: 2.5rem!important;
}
