<div class="table-container">
  <div class="overflow-auto">
    <table class="table table-responsive">
      <thead>
        @for(col of columns; track col) {
        <th [class.hasorder]="col.order" [class.active-order]="pageControl.orderField === col.slug"
          (click)="onClickOrderBy(col.slug, col.order)">
          <div class="d-flex {{col.classes}}">
            {{ col.title }}
            <i class="material-icons" *ngIf="pageControl.orderField === col.slug">
              {{ pageControl.order === 'DESC' ? 'arrow_downward' : 'arrow_upward' }}
            </i>
          </div>
        </th>
        }
      </thead>
      <tbody>
        @if(loading) {
        <tr>
          <td [attr.colspan]="columns.length + 1">
            <div id="mat-loading">
              <mat-spinner></mat-spinner>
            </div>
          </td>
        </tr>
        }
        @else {
        @if(!clients?.length) {
        <tr>
          <td [attr.colspan]="columns.length + 1" class="text-center">
            <div>Nenhum resultado encontrado</div>
          </td>
        </tr>
        }
        @else {
        @for (client of clients; track client) {
        <tr class="table-line-hover" style="outline: none;" (click)="toggleExpanded(client)">
          <td>
            <div>
              {{ client?.company}}
            </div>
          </td>
          <td>
            <div>
              {{ client?.domain}}
            </div>
          </td>
          <td>
            <div>
              {{ client?.segment?.name }}
            </div>
          </td>
          <td>
            <div>
              {{ client?.technical?.name }}
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="status" [ngClass]="client?.status">
                {{ client?.status | status }}
              </div>
            </div>
          </td>
          @if(showActions) {
          <td>
            <div class="d-flex justify-content-end gap-2">

              <div matTooltip="Alterar Status" matRipple class="buttonTemplate"
                (click)="onEditStatus.emit(client); $event.stopPropagation()">
                <i class="fa-solid fa-globe"></i>
              </div>

              <div matTooltip="Palavras-Chave" matRipple class="buttonTemplate"
                (click)="onKeyWord.emit(client); $event.stopPropagation()">
                <i class="fa-solid fa-font"></i>
              </div>

              <div matTooltip="Editar" matRipple class="buttonTemplate"
                (click)="onEditClient.emit(client); $event.stopPropagation()">
                <i class="fa-solid fa-pen-to-square"></i>
              </div>

              <div matTooltip="Deletar" matRipple class="buttonTemplate delete"
                (click)="onDeleteClient.emit(client); $event.stopPropagation()">
                <i class="fa-solid fa-trash"></i>
              </div>
            </div>
          </td>
          }
        </tr>
        <tr>
          <td colspan="7" class="p-0">
            <div [@detailExpand]="client == expanded ? 'expanded' : 'collapsed'" style="overflow: hidden;">
              <div class="row">
                <div class="col-md-4">
                  <div class="p-md-3 p-2">
                    <span class="mb-2" style="font-weight: 500; font-size: 1rem; color: #5c5c5c;">E-mails</span>
                    <div class="d-flex flex-wrap gap-2">
                      @for(email of client?.emails; track email) {
                      <div class="segment">{{ email?.email }}</div>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        }
        }
        }
      </tbody>
    </table>
  </div>

  <mat-paginator [length]="pageControl.itemCount" [pageSize]="pageControl.take" [showFirstLastButtons]="true"
    [pageSizeOptions]="[10, 25, 50, 100]" [hidePageSize]="false" [pageIndex]="pageControl.page"
    (page)="pageEvent($event)" aria-label="Paginação">
  </mat-paginator>
</div>
