@import "_variables";

mat-spinner {
  height: 4.5rem !important;
}

.segment {
  text-align: center;
  border-radius: 12px;
  width: 5rem;
  min-width: fit-content;
  background-color: $vigenary;
  color: $white-100;
  padding: 0.1rem 0.6rem;
}

.table-line-hover {

  td {
    background-color: transparent;
  }

  &:hover {
    cursor: pointer;
    background-color: $terciary;
  }

}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 12px;
  padding: 4px 8px;
  color: $white;

  &.IN_PROGRESS{
    background-color: orange;
  }

  &.CLOSED{
    background-color: rgb(0, 86, 143);
  }

  &.FINISHED {
    background-color: $green;
  }

  &.CANCELED {
    background-color: $red;
  }
}
