<main>
  <section class="form-section mx-md-3">
    <div class="d-flex justify-content-center align-items-center w-100 mb-4">
      <img src="./assets/images/logo.png" alt="logo">
    </div>
    <div class="form-main p-md-4 p-3">
      <div class="form-container">

        <div class="d-flex flex-column justify-content-center align-items-center w-100">
          <h5 class="fs-2">{{ primary_text }}</h5>
          <p class="fs-5" style="color: #777777;">{{ secondary_text }}</p>
        </div>


        <ng-content></ng-content>
      </div>
    </div>
    <!--
      <footer>
        <p>Siga-nos nas redes sociais</p>
        <a class="ball-to-icon">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a class="ball-to-icon">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a class="ball-to-icon">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </footer>
     -->
  </section>
  <section class="display-animation">
    <ng-lottie width="500px" containerClass="moving-box" [options]="options" />
  </section>
</main>
