@import "variables";

.card {
  display: flex;
  justify-content: center;
  background-color: $septenary;
  min-height: 9rem;
  padding: 0.5rem 1rem;

  .header {
    display: flex;
    gap: 1rem;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.15);
      min-width: 3.5rem;
      width: 3.5rem;
      min-height: 3.5rem;
      height: 3.5rem;
      border-radius: 0.4rem;
    }

    .content {

      .title {
        font-weight: 600;
        font-size: 1rem;
        color: rgba(255,255,255,.5);
      }

      .value {
        font-weight: 700;
        font-size: 1.4rem;
        color: $white;
      }

      .arrow {
        font-size: 1rem;
        color: $red;
      }

    }

  }

  .description {
    font-weight: 500;
    font-size: 0.95rem;
    color: rgba(255,255,255,.5);
    margin-top: 1rem;
  }

}
