<div class="card">

  <div class="header">
    <div class="icon">
      <i class="{{data?.icon}}"></i>
    </div>

    <div class="content">
      <h4 class="title font-16">
        {{ data?.title }}
      </h4>
      <div class="d-flex align-items-center gap-2">
        <span class="value">
          {{ data?.value }}
        </span>

        <i class="fa-solid fa-arrow-down arrow"></i>
      </div>
    </div>
  </div>

  <div class="description">
    <span>
      {{ data?.description }}
    </span>
  </div>

</div>
