.password_recovery {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  mat-form-field {
    width: 100%;
  }

  #mat-loading, .loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(187, 187, 187, 0.5);
  }

  .button-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  button {
    width: 100%;
    align-self: flex-end;
  }

  .forgot-password {
    display: flex;
    justify-content: flex-end;

    p {
      margin: 0 0 1rem;
    }
  }
}
